<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Gift Boxes and Cookie Trays</title>
    <link rel = "stylesheet" href = "../Statics/style.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src = "../Statics/script.js"></script>
    <link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body style = "margin: 0px;">
    <div>
        <a class = "back-home" href = "index.html">
            <div class = "header">
                <img class = "banner" src = "../Statics/Banner.jpg" alt = "Say It With Sweets banner">
            </div>
        </a>
        <div class = "navbar">
            <nav id = "nav-menu">
                    <div class = "home-dropdown">
                        <a id = "home-hover" href = "index.html">
                            <p class = "subnavbtn"><span class = "underline">Home</span></p>
                        </a>
                        <div class = "home-content">
                            <div class = "cupcakes-cookies"> 
                                <div class = "col-flex">
                                    <p id = "cupcakes">Cupcakes</p>
                                    <a id = "cupcake-bouquets" href = "cupcake-bouquets.html">Cupcake Bouquets</a>
                                </div>
                                <div class = "col-flex">
                                    <p id = "cookies">Cookies</p>
                                    <a id = "cookie-cakes" href = "cookie-cakes-custom-made-cookies.html">Cookie Cakes &amp; Custom Made Cookies</a>
                                    <a id = "cookie-trays" href = "cookie-gift-boxes-cookie-trays.html">Cookie Gift Boxes &amp; Cookie Trays</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class = "subnavbtn" style = "padding: 0;">
                        |
                    </p>
                    <div class = "home-dropdown">
                        <p id = "specials-hover" class = "subnavbtn"><span class = "underline">Specials</span></p>
                        <div class = "home-content">
                            <div class = "cupcakes-cookies"> 
                                <div class = "col-flex">
                                    <p id = "celebrations">Celebrations</p>
                                    <a id = "halloween" href = "halloween.html">Halloween</a>
                                    <a id = "christmas" href = "christmas.html">Christmas</a>
                                    <a id = "valentine" href = "valentines.html">Valentine's Day</a>
                                    <a id = "easter" href = "easter-and-fall.html">Easter &amp; Fall</a>
                                    <a id = "celebration-cakes" href = "celebration-cakes.html">Celebration Cakes</a>
                                </div>
                                <div class = "col-flex">
                                    <p id = "penn-state">Penn State</p>
                                    <a id = "nittany-lions" href = "nittany-lions.html">Nittany Lions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class = "subnavbtn" style = "padding: 0;">
                        |
                    </p>
                    <div class = "home-dropdown">
                        <p id = "about-hover" class = "subnavbtn"><span class = "underline">About</span></p>
                        <div class = "home-content">
                            <div class = "col-flex" style = "margin-top: 8px;">
                                <a id = "about-us" href = "about-us.html">About Us</a>
                                <a id = "contact-us" href = "contact-us.html">Contact Us</a>
                            </div>
                        </div>
                    </div>
            </nav>
        </div>
    </div>
</body>
</html>