<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nittany Lions</title>
    <link rel = "stylesheet" href = "../Statics/style.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src = "../Statics/script.js"></script>
    <link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body style = "margin: 0px; display: flex; flex-direction: column;">
    <a class = "back-home" href = "index.html">
        <div class = "header-penn-state">
            <img class = "banner" src = "../Statics/penn state/penn-state-banner.jpg" alt = "Say It With Sweets banner in Penn State colors">
        </div>
    </a>
    <div class = "navbar">
        <nav style = "background-color: #041E42;" id = "nav-menu">
                <div style = "background-color: #041E42;" class = "home-dropdown">
                    <a id = "home-hover" href = "index.html">
                        <p style = "color: white;" class = "subnavbtn"><span class = "underline-nitty-lions">Home</span></p>
                    </a>
                    <div style = "background-color: #041E42;" class = "home-content">
                        <div class = "cupcakes-cookies">
                            <div class = "col-flex">
                                <p style = "color: white;" id = "cupcakes">Cupcakes</p>
                                <a class = "cupcake-bouquets" id = "cupcake-bouquets-nittany-lions" href = "cupcake-bouquets.html">Cupcake Bouquets</a>
                            </div>
                            <div class = "col-flex">
                                <p style = "color: white;" id = "cookies">Cookies</p>
                                <a class = "cookie-cakes" id = "cookie-cakes-nittany-lions" href = "cookie-cakes-custom-made-cookies.html">Cookie Cakes &amp; Custom Made Cookies</a>
                                <a class = "cookie-trays" id = "cookie-trays-nittany-lions" href = "cookie-gift-boxes-cookie-trays.html">Cookie Gift Boxes &amp; Cookie Trays</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p style = "color: white; padding: 0;" class = "subnavbtn">
                    |
                </p>
                <div style = "background-color: #041E42;" class = "home-dropdown">
                    <p id = "specials-hover" style = "color: white;" class = "subnavbtn"><span class = "underline-nitty-lions">Specials</span></p>
                    <div style = "background-color: #041E42;" class = "home-content">
                        <div class = "cupcakes-cookies"> 
                            <div class = "col-flex">
                                <p style = "color: white;" id = "celebrations">Celebrations</p>
                                <a class = "halloween" id = "halloween-nittany-lions" href = "halloween.html">Halloween</a>
                                <a class = "christmas" id = "christmas-nittany-lions" href = "christmas.html">Christmas</a>
                                <a class = "valentine" id = "valentine-nittany-lions" href = "valentines.html">Valentine's Day</a>
                                <a class = "easter" id = "easter-nittany-lions" href = "easter-and-fall.html">Easter &amp; Fall</a>
                                <a class = "celebration-cakes" id = "celebration-cakes-nittany-lions" href = "celebration-cakes.html">Celebration Cakes</a>
                            </div>
                            <div class = "col-flex">
                                <p style = "color: white;" id = "penn-state">Penn State</p>
                                <a class = "nittany-lions" id = "nittany-lions-nittany-lions" href = "nittany-lions.html">Nittany Lions</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p class = "subnavbtn" style = "color: white; padding: 0;">
                    |
                </p>
                <div class = "home-dropdown">
                    <p style = "color: white;" id = "about-hover" class = "subnavbtn"><span class = "underline-nitty-lions">About</span></p>
                    <div style = "background-color: #041E42;" class = "home-content">
                        <div class = "col-flex" style = "margin-top: 8px;">
                            <a class = "about-us" id = "about-us-nittany-lions" href = "about-us.html">About Us</a>
                            <a class = "contact-us" id = "contact-us-nittany-lions" href = "contact-us.html">Contact Us</a>
                        </div>
                    </div>
                </div>
        </nav>
    </div>
        <div class = "penn-state-content">
            <img class = "penn-state-cookie" src = "../Statics/penn state/penn-state-3.jpg" alt = "Nittany Lion paws in Penn State colors ">
            <p class = "penn-state-message">
                Our cookies, a crowd-pleaser at any Penn State event, are not merely cookies 
                but symbols of your Nittany Lion pride. Made from only the finest ingredients, 
                these cookies are soft, chewy, and irresistibly delicious, with each one 
                carefully decorated with the Nittany Lion's paws, making them perfect for game 
                day celebrations, as a special gift for Penn State students and alumni, or as a 
                way to treat yourself to a piece of Penn State tradition.
            </p>
            <table>
                <tr><th class = "table-headers-penn-state">Size</th><th class = "table-headers-penn-state">Price</th></tr>
                <tr><td>4 cookies</td><td>$6.99</td></tr>
                <tr class = "medium-penn-state"><td>7 cookies</td><td>$11.99</td></tr>
                <tr><td>12 cookies</td><td>$14.99</td></tr>
            </table>
        </div>
        <div style = "justify-content: flex-end;" class = "penn-state-content">
            <table style = "margin-top: 40px; margin-right: 50px;">
                <tr><th class = "table-headers-penn-state">Size</th><th class = "table-headers-penn-state">Price</th></tr>
                <tr><td>4 cupcakes</td><td>$11.99</td></tr>
                <tr class = "medium-penn-state"><td>7 cupcakes</td><td>$16.99</td></tr>
                <tr><td>12 cupcakes</td><td>$19.99</td></tr>
            </table>
            <p style = "text-align: center;" class = "penn-state-message">
                The cupcakes, equally impressive and delightful, are a sweet way to showcase 
                your Penn State loyalty. Each cupcake is a soft, fluffy celebration of the 
                Nittany Lions, frosted to perfection in Penn State's iconic blue and white 
                colors, and crowned with an edible Nittany Lion paw print. They're perfect for 
                sharing the joy and unity of the Penn State community with friends, family, and 
                fellow fans.
            </p>
            <img class = "penn-state-cookie" src = "../Statics/penn state/penn-state-2.jpg" alt = "Nittany Lion paws in Penn State colors ">
        </div>
        <div class = "penn-state-content">
            <img class = "penn-state-cookie" src = "../Statics/penn state/penn-state-1.jpg" alt = "Cake with the nittany Lion head and says penn state below ">
            <p class = "penn-state-message">
                The Penn State cake, the centerpiece of any Penn State gathering, featuring a 
                beautifully crafted Nittany Lion's head. This cake is more than just a dessert; 
                it's a masterpiece that captures the essence of Penn State's pride and spirit. 
                Rich, flavorful, and stunning in design, it serves as a grand statement of your 
                Penn State loyalty, sure to wow guests and make your event unforgettable.
            </p>
            <table>
                <tr><th class = "table-headers-penn-state">Size</th><th class = "table-headers-penn-state">Price</th></tr>
                <tr><td>Small</td><td>$14.99</td></tr>
                <tr class = "medium-penn-state"><td>Medium</td><td>$22.99</td></tr>
                <tr><td>Large</td><td>$29.99</td></tr>
            </table>
        </div>
    <footer style = "background-color: #D0D0D0;">
        <div class = "row-flex-footer">
            <img style = "background-color: #041E42;" class = "banner-footer" src = "../Statics/penn state/penn-state-banner.jpg" alt = "Say It With Sweets banner">
            <div id = "col-flex-footer" class = "col-flex" style = "font-weight: normal; color: white;">
                <p id = "location">1307 Pleasant Valley Blvd.</p>
                <p>Altoona PA 16602 US</p>
                <p id = "phone-number">Call +1 (814) 937-1564 to make an order</p>
                <p><a id = "mail-address" href = "mailto:info@sayitwithsweets.com"><u>info@sayitwithsweets.com</u></a></p>
                <p>
                    Pick up hours M-F 10:00AM-3:00PM.
                </p>
                <p>
                    All items are order only - no walk in shop.
                </p>
                <p>
                    Prepay with a credit card
                    Weekend by appointment
                </p>
            </div>
            <div id = "col-flex-map-icons" class = "map">
                <iframe src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5589.888849435705!2d-78.39154219391469!3d40.50507071374715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89cb918855bb7c8b%3A0x7d6079aaf48c3657!2sSay%20It%20With%20Sweets!5e0!3m2!1sen!2sus!4v1711952503256!5m2!1sen!2sus" 
                        width = "235" height = "175" style = "border:0;" allowfullscreen = "" loading = "lazy" referrerpolicy = "no-referrer-when-downgrade">
                </iframe>
                <div class = "icons-penn-state">
                    <a href = "https://www.facebook.com/say.it.with.sweets/" target = "_blank" alt = "Facebook icon taking the user to our Facebook profile">
                        <i class = "fab fa-facebook" style = "font-size: 36px; background-color: #041E42; color: white; margin-left: 25px; margin-top: 50px;"></i>
                    </a>
                    <a href = "https://www.yelp.com/biz/say-it-with-sweets-altoona" target = "_blank" alt = "Yelp icon taking the user to our Yelp profile">
                        <i class = "fab fa-yelp" style = "font-size: 36px; background-color: #041E42; color: white; margin-left: 25px; margin-top: 50px; padding-left: 12px; padding-right: 12px; border-radius: 30px;"></i>
                    </a>
                    <a href = "https://www.instagram.com/sayitwithsweets11/" target = "_blank" alt = "Instagram icon taking the user to our Intagram profile">     
                        <i class = "fab fa-instagram" style = "font-size: 36px; background-color: #041E42; color: white; margin-left: 25px; margin-top: 50px;"></i>
                    </a>
                    <a href = "https://www.tripadvisor.com/Restaurant_Review-g30034-d5017286-Reviews-" target = "_blank" alt = "Tripadvisor icon taking the user to our Tripadvisor profile">
                        <i class = "fab fa-tripadvisor" style = "font-size: 30px; background-color: rgb(4, 30, 66); color: white; margin-left: 25px; margin-right: 25px; margin-top: 50px; padding-top: 11px; padding-bottom: 11px; padding-left: 10px; padding-right: 10px; border-radius: 30px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>